<h1>Searching through the Laptops category</h1> <h2><%= link_to "Electronics", root_path %></h2> <h2><%= link_to "Monitors", monitors_path %></h2>
<%= form_tag laptops_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @products_index['results'].each do |product| %>
  <li><%= product['name'] %></li>
<% end %>